## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_gmaps import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/Upama/Documents/Data Analytics Class Work/Challenge#6/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,carnarvon,AU,2020-09-01 06:51:34,-24.87,113.63,71.60,46,40,18.34,scattered clouds
1,1,harindanga,IN,2020-09-01 06:51:34,22.04,88.32,80.60,94,75,6.93,heavy intensity rain
2,2,coquimbo,CL,2020-09-01 06:51:35,-29.95,-71.34,53.60,76,17,1.12,few clouds
3,3,mataura,NZ,2020-09-01 06:51:35,-46.19,168.86,45.00,72,7,11.01,clear sky
4,4,rikitea,PF,2020-09-01 06:51:35,-23.12,-134.97,68.29,84,100,19.86,overcast clouds

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Date                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]

In [6]:
filtered_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,carnarvon,AU,2020-09-01 06:51:34,-24.87,113.63,71.60,46,40,18.34,scattered clouds
1,1,harindanga,IN,2020-09-01 06:51:34,22.04,88.32,80.60,94,75,6.93,heavy intensity rain
2,2,coquimbo,CL,2020-09-01 06:51:35,-29.95,-71.34,53.60,76,17,1.12,few clouds
4,4,rikitea,PF,2020-09-01 06:51:35,-23.12,-134.97,68.29,84,100,19.86,overcast clouds
7,7,maputo,MZ,2020-09-01 06:46:54,-25.97,32.59,61.00,87,75,11.41,broken clouds

In [7]:
filtered_cities_df.count()

City_ID                217
City                   217
Country                216
Date                   217
Lat                    217
Lng                    217
Max Temp               217
Humidity               217
Cloudiness             217
Wind Speed             217
Current Description    217
dtype: int64

In [8]:
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,carnarvon,AU,2020-09-01 06:51:34,-24.87,113.63,71.60,46,40,18.34,scattered clouds
1,1,harindanga,IN,2020-09-01 06:51:34,22.04,88.32,80.60,94,75,6.93,heavy intensity rain
2,2,coquimbo,CL,2020-09-01 06:51:35,-29.95,-71.34,53.60,76,17,1.12,few clouds
4,4,rikitea,PF,2020-09-01 06:51:35,-23.12,-134.97,68.29,84,100,19.86,overcast clouds
7,7,maputo,MZ,2020-09-01 06:46:54,-25.97,32.59,61.00,87,75,11.41,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
304,304,liuhe,CN,2020-09-01 06:52:15,42.24,125.72,72.10,90,100,7.38,overcast clouds
305,305,cazones,MX,2020-09-01 06:52:15,20.72,-97.32,79.68,90,0,2.73,clear sky
306,306,xining,CN,2020-09-01 06:52:15,36.62,101.77,71.76,36,6,8.39,clear sky
307,307,hamadan,IR,2020-09-01 06:52:15,34.80,48.51,68.00,32,0,4.70,clear sky
308,308,kafanchan,NG,2020-09-01 06:52:15,9.58,8.30,67.80,99,100,1.92,moderate rain

In [9]:
filtered_cities_df.count()

City_ID                216
City                   216
Country                216
Date                   216
Lat                    216
Lng                    216
Max Temp               216
Humidity               216
Cloudiness             216
Wind Speed             216
Current Description    216
dtype: int64

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = filtered_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng', 'Current Description']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,carnarvon,AU,71.60,-24.87,113.63,scattered clouds,
1,harindanga,IN,80.60,22.04,88.32,heavy intensity rain,
2,coquimbo,CL,53.60,-29.95,-71.34,few clouds,
4,rikitea,PF,68.29,-23.12,-134.97,overcast clouds,
7,maputo,MZ,61.00,-25.97,32.59,broken clouds,
8,trstena,SK,51.80,49.36,19.61,broken clouds,
10,khatanga,RU,53.80,71.97,102.50,clear sky,
13,vestmannaeyjar,IS,50.00,63.44,-20.27,overcast clouds,
14,hermanus,ZA,55.74,-34.42,19.23,overcast clouds,
16,jamestown,US,66.99,42.10,-79.24,broken clouds,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
# 6c. Get latitude and longitude from DataFrame
# 6d. Set up the base URL for the Google Directions API to get JSON data.
# 6e. Make request and retrieve the JSON data from the search
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f'{lat},{lng}'
    
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except IndexError:
        print('Hotel not found... skipping...')

Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...

In [12]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,carnarvon,AU,71.60,-24.87,113.63,scattered clouds,Hospitality Carnarvon
1,harindanga,IN,80.60,22.04,88.32,heavy intensity rain,QARI ARIF BILLAH HOUSE. & THE INTERNATIONAL TA...
2,coquimbo,CL,53.60,-29.95,-71.34,few clouds,Hotel San Juan
4,rikitea,PF,68.29,-23.12,-134.97,overcast clouds,Pension Maro'i
7,maputo,MZ,61.00,-25.97,32.59,broken clouds,Pestana Rovuma

In [13]:
# 8a. Create the output File (CSV)
output_data_file = '/Users/Upama/Documents/Data Analytics Class Work/Challenge#6/WeatherPy_Vacation.csv'
hotel_df.to_csv(output_data_file, index_label='City_ID')

In [14]:
vacation_df = pd.read_csv('/Users/Upama/Documents/Data Analytics Class Work/Challenge#6/WeatherPy_Vacation.csv')
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,0,carnarvon,AU,71.60,-24.87,113.63,scattered clouds,Hospitality Carnarvon
1,1,harindanga,IN,80.60,22.04,88.32,heavy intensity rain,QARI ARIF BILLAH HOUSE. & THE INTERNATIONAL TA...
2,2,coquimbo,CL,53.60,-29.95,-71.34,few clouds,Hotel San Juan
3,4,rikitea,PF,68.29,-23.12,-134.97,overcast clouds,Pension Maro'i
4,7,maputo,MZ,61.00,-25.97,32.59,broken clouds,Pestana Rovuma

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
'''
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[['Lat', 'Lng']]

In [16]:
# 11a. Add a marker layer for each city to the map. 
# 11b. Display the figure


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))